.page-container3 {
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 42, 58);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: white;
    padding: 5% 20px 1%; 
    align-items: center;
    text-align: center;
  }
  .page3Title{
    font-size: 50px; /* Increased font size */
  }